
/***** FONTS *****/

@font-face {
    font-family: 'spaceman';
    src: url('fonts/spaceman-webfont.eot');
    src: url('fonts/spaceman-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/spaceman-webfont.woff') format('woff'),
         url('fonts/spaceman-webfont.ttf') format('truetype'),
         url('fonts/spaceman-webfont.svg#spacemanregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'aovel';
    src: url('fonts/asansrounded-webfont.eot');
    src: url('fonts/asansrounded-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/asansrounded-webfont.woff') format('woff'),
         url('fonts/asansrounded-webfont.ttf') format('truetype'),
         url('fonts/asansrounded-webfont.svg#aovel_sansrounded') format('svg');
    font-weight: normal;
    font-style: normal;

}