
/**** GLOBAL ****/

body {
  font-size: 16px;
  width: 100%;
  background: #5d5d5d; 
  line-height: 1.5em;
  font-family: aovel;
  color: $lightGray;
  word-spacing: 0.15em;
  letter-spacing: 0.1em;
}

html {

}

h1 {
  font-size: 2.25em;
  line-height: 1.5em;
}

h2 {
  font-size: 1.375em;
  line-height: 0.83em;
}

h3 {

}

strong {
  font-weight: bold;
  color: #FFFFFF;
}

a {
  text-decoration: none;
}