/**** MEDIA 600-1024 ****/
@media handheld, screen and (min-width: 780px) and (max-width: 1023px) {

	/** global **/

	body {
		font-size: 20px;
		word-spacing: 0em;
	}

	/** masthead **/

	/** show-box **/

	.show-box {
		float: left;
		padding-bottom: 75px;
	}

	.design-thumb {
		float: left;
		width: 50%;
		height: auto;
	}

	.design-thumb:last-child {
		margin: 0 auto;
	}

	.design-thumb img {

		height: 210px;
		margin: 0 35%;
	}

	.dev-box {
        width:80%;
        padding-top: 0;
	}

	.single-content-box {
		width: 600px;
	}

	.single-box {
		height: 200px;
	}

	// .single-box:first-child {
	// 	margin: 15px auto 0;
	// }

	/** footer **/

	.contact-button {
		clear: both;
		height: 50px;
	}

	.contact-button h4 {
		line-height: 50px;
	}

	/** Homepage **/

	.show-box-home {
		height: 230px;
	}

	.design-circle, .dev-circle {
		width: 200px;
		height: 200px;
	}

	.design-circle p, .dev-circle p {
		font-size: 1.1em;
		height: 200px;
		line-height: 200px;
		letter-spacing: 0.1em;
	}

	.design-circle {
		margin-left: 75px;
	}

	.dev-circle {
		margin-right: 75px;
	}

	.ninja-box {
		height: 299px;
		background-size: 206px 299px;
	}

	.footer-container {
		margin-top: 25px;
	}

}