/**** MEDIA 600-1024 ****/
@media handheld, screen and (min-width: 1023px) {

/** global **/

	body {
		font-size: 16px;
	}

/** mastehead **/

	.masthead-top {
		background: url("images/masthead-top.png");
		height: 37px;
	}

	.masthead-name {
		background: url("images/masthead-name.png") no-repeat;
		width: 1024px;
		height: 32px;
		margin: 0 auto;
	}

	.masthead-bottom {
		background: url("images/masthead-bottom.png");
		height: 8px;
	}

	.masthead-subheader {
		text-align: left;
		width: 1024px;
		margin: 0 auto 15px;
	}

	.opening-text {
		text-align: left;
		width: 1024px;
		margin: 0 auto;
	}

/** showbox **/

	.show-box {
		float: left;
		margin-bottom: 35px;
	}

	.show-box h3 {
		font-size: 2em;
		padding: 10px 10px 10px 20px;
	}

	.show-box-home {
		height: 437px;
		margin: 35px 0 0 0;
	}

	.content-container {
		width: 1024px;
		margin: 0 auto;
	}

	.ninja-box {
		width: 1024px;
		height: 437px;
		margin: 0 auto;
		background-size: 301px 437px;
	}

	.circle1 {
		background: url("images/home-circle1.png");
		width: 243px;
		height: 243px;
		float: left;
		margin: 120px 45px;
	}

	.circle2 {
		background: url("images/home-circle2.png");
		width: 203px;
		height: 203px;
		margin: 20px;
		float: left;
	}

	.circle3 {
		background: url("images/home-circle3.png");
		width: 182px;
		height: 182px;
		margin: 10px;
		float: left;
	}

	.design-circle, .dev-circle {
		width: 150px;
		height: 150px;
		margin: 0;
	}

	.design-circle p, .dev-circle p {
		line-height: 150px;
		height: 150px;
		font-size: 1em;
		letter-spacing: 0.1em;
	}

	.design-circle {
		margin: 16px 0 0 16px;
	}

	.dev-box {
		width: 725px;
		float: left;
		padding-top: 20px;
	}

	.dev-circle {
		//margin-right: 85px;
		float: left;
	}

	.dev-container-box {
		position: relative;
		float: right;
		margin: 160px 100px 0 0;
	}

	.dev-container {
		margin-bottom: 50px;
	}

	.dev-left-bracket, .dev-right-bracket {
		width: 46px;
		height: 130px;
		float: left;
		position: absolute;
		top: 10px;
	}

	.dev-left-bracket {
		background: url("images/left-bracket.png");
		left: -50px;
	}

	.dev-right-bracket {
		background: url("images/right-bracket.png");
		left: 150px;
	}

	.footer-container {
		width: 1024px;
		margin: 0 auto;
		margin-bottom: 25px;
	}

	.contact-button {
		float: left;
		margin: 0 0 35px 0;
		clear: both;
	}

	.contact-button a {
		background: #bd2026;
		float: left;
		padding: 5px;
	}

	.social-buttons {
		float: right;
		display: block;
	}

	.choose-text {
		display: block;
	}

	.port-type {
		float: right;
		margin: -35px 0 0 0;
	}

	.dev-port-type {
		margin-top: -30px;
		margin-right: -100px;
	}

	.dev-subheader {
		font-size: 1.2em;
	}

	.el-comfort-box {
		float: right;
		width: auto;
	}

	.el-comfort-box li {
		width: auto;
	}

	.el-comfort-box li:nth-child(odd) {
		width: auto;
		padding: 0;
		background: none;
	}

	.comfort-list {
		text-align: left;
	}

	.design-box {
		width: 800px;
	}

	.design-thumb {
		float: left;
	}

	.back-btn {
		display: none;
	}

	.single-box {
		float: left;
		width: 320px;
		margin-left: 20px;
		margin-bottom: 20px;
	}

	.single-box:first-child {
		margin-left: 0;
	}

	.single-box:nth-child(4), .single-box:nth-child(7), .single-box:nth-child(10), .single-box:nth-child(13), .single-box:nth-child(16), .single-box:nth-child(19) {
		margin-left: 0;	
	}

	.single-box-container {
		width: 1024px;
		margin: 35px 0;
		float: left;
	}

}